{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier un article</h1>
    <hr>
    <div class="m-4">
        <a href="{{ path('veille_index') }}" class="btn btn-primary">Retour</a>
    </div>
    <div class="col-md-6 col-lg-6 justify-content-center align-items-center">
        <div class="">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Valider" class="btn btn-warning"/>
            {{ form_end(edit_form) }}
        </div>
        <div class="text-right">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
