{% extends 'base.html.twig' %}

{% block body %}

{# {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="col-md-6 col-lg-6 justify-content-center align-items-center">
        <h2>Gestion des posts</h2>
        <form class="form" id="myform">
            <div class="form-group">
                <label for="input_title">Titre du post</label>
                <input class="form-control" type="text" id="input_title" />
            </div>
             <div class="form-group">
                <label for="input_body">Texte du post</label>
                <textarea class="form-control" id="input_body"></textarea>
            </div>
            <div class="form-group">
                <label for="input_file">Image du post</label>
                <input class="form-control-file" type="file" id="input_file" name="input_file"/>
            </div>

            <input type="hidden" id="input_id" data-id=""/>
            <button class="btn btn-primary" type="button" id="_submit" name="_submit" onclick="sendModif();">Valider</button>

        </form>
    </div>
    <hr>
{% endif %} #}
<div class="row">
    <div class="col-sm-12 col-md-10">
        {% for article in articles %}
            <div id="art-{{article.id}}" class="bg-faded">
                <article class="article row">
                    <div class="col-md-3 p-2">
                        <a class="hidden-sm-down" href="{{article.urlArticle}}" target="_blank">
                            <img class="art-picture" src="{{asset('uploads/articles/' ~ article.imageName)}}" alt="{{article.title}}">
                        </a>
                    </div>
                    <div class="col">
                        <h2 class="art-title">
                            <a href="{{article.urlArticle}}" target="_blank">{{article.title}}</a>
                        </h2>
                        <div class="art-header">
                            <div class="left">
                                <p>Crée le {{article.createdAt|date("d/m/Y")}}</p>
                            </div>
                        </div>
                        <div class="article-description">
                            <p>{{article.body}}</p>
                        </div>  
                    </div>              
                </article>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="text-right mr-auto p-2">    
                        <a class="btn btn-warning" href="/veille/{{article.id}}/edit">Modifier</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}