{% extends 'base.html.twig' %}

{% block body %}

<div>
	<div class="row">
            <img src="{{asset('img/ppe/ppe3/logo-sdis.png')}}"><h3 class="skill-title-1">SDIS29</h3>
    </div><hr>
	<article class="card bg-faded p-3">
        <h3>Contexte</h3>
		SDIS, Services Départementaux d’Incendie et de Secours représente l'une des compétences de la Direction 
		de la Sécurité Civile, gère les accidents quotidiens et les catastrophes (aide à la population) 
		Elle intervient rapidement sur les lieux d’un incident, et utilise donc l'outil informatique pour 
		disposer d'informations en temps réél.
	</article><br>
</div>
<div class="title-stripes font-italic">
    <p><strong>Besoins</strong></p>
</div>
<div>
	<p><strong>Rendre plus rapide la mobilisation des pompiers</strong></p>
	<p>L'application doit permettre d'informer le pompier de manière rapide en cas de besoin et devra 
	rendre disponible les informations d'un employeur de pompier volontaire en cas de besoin</p>
	<p><strong>Gestion plus facile et efficace des pompiers volontaires</strong></p>
	<p>Un pompier dépend d'une caserne, dans laquelle il y a un chef de caserne et un responsable d’alerte. 
	L'application affiche ainsi les informations et disponibilité des pompiers selon le calendrier 
	des gardes émis par les chefs de centre. Elle permet de mieux connaître qui est disponible et de 
	les appeller immédiatement.</p>
	<p><strong>Different type d'utilisateurs :</strong></p>
	<li class="decoration-arrow"><span class="fa fa-arrow-right"></span> <strong>Chef de centre :</strong> Créer, modifier et visualiser les profils des pompiers</li>
	<li class="decoration-arrow"><span class="fa fa-arrow-right"></span> <strong>Pompier volontaire :</strong> Afficher et modifier ses informations personnelles</li>

    <a target="_blank" href="{{asset('img/ppe/ppe3/sdis29-connexion.png')}}"><img src="{{asset('img/ppe/ppe3/sdis29-connexion.png')}}" class="screen-picture"></a>
    <a target="_blank" href="{{asset('img/ppe/ppe3/sdis29-liste.png')}}"><img src="{{asset('img/ppe/ppe3/sdis29-liste.png')}}" class="screen-picture"></a>
    <a target="_blank" href="{{asset('img/ppe/ppe3/sdis29-profil.png')}}"><img src="{{asset('img/ppe/ppe3/sdis29-profil.png')}}" class="screen-picture"></a>
    <a target="_blank" href="{{asset('img/ppe/ppe3/sdis29-creer.png')}}"><img src="{{asset('img/ppe/ppe3/sdis29-creer.png')}}" class="screen-picture"></a>
    <a target="_blank" href="{{asset('img/ppe/ppe3/sdis29-charte.png')}}"><img src="{{asset('img/ppe/ppe3/sdis29-charte.png')}}" class="screen-picture"></a>


</div><hr>
<div class="title-stripes font-italic">
    <p><strong>Compétences mises en oeuvre</strong></p>
</div>
<div>
	<p class="underline">Choix d'une solution</p>
	<li>A1.2.05 Définir des niveaux d'habilitation associés à un service / Recenser les utiliateurs du service, leurs rôles et leur niveau de responsabilité</li><br>
	<p class="underline">Mise en production d'un service</p>
	<li>A1.3.04 Déploiement d'un service</li><br>
	<p class="underline">Travail en mode projet</p>
	<li>A1.4.01 Participation à un projet</li>
	<li>A1.4.02 Analyser les écarts entre temps prévu et temps consommé</li><br>
	<p class="underline">Gestion des incidents et des demandes d'assistance</p>
	<li>A2.2.01 Suivi et résolution d'incidents</li><br>
	<p class="underline">Gestion des problèmes et des changements</p>
	<li>A2.3.01 Identification, qualification et évaluation d'un problème</li>
	<li>A2.3.02 Proposition d'amélioration d'un service</li><br>
	<p class="underline">Conception et réalisation d'une solution applicative</p>
	<li>A4.1.02 Conception ou adaptation de l'interface utilisateur d'une solution aplicative</li>
	<li>A4.1.03 Conception ou adaptation d'une base de données</li>
	<li>A4.1.07 Utiliser des composants d'accès aux données</li>

</div>

{% endblock %}