{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-10">
        {% for article in articles %}
        <div id="art-{{article.id}}">
            <article class="article row">
                <div class="col-md-3">
                    <a class="hidden-sm-down" href="{{article.urlSource}}" target="_blank">
                        <img class="art-picture" src="{{article.urlPicture}}" alt="{{article.title}}">
                    </a>
                </div>
                <div class="col">
                    <h2 class="art-title">
                        <a href="{{article.urlSource}}" target="_blank">{{article.title}}</a>
                    </h2>
                    <div class="art-header">
                        <div class="left">
                            <p>Crée le {{article.date|date("d/m/Y")}}</p>
                        </div>
                    </div>
                    <div class="article-description">
                        <p>{{article.description}}</p>
                    </div>  
                </div>              
            </article>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}