{% extends 'base.html.twig' %}

{% block body %}

<div>
    {% for article in articles %}
    <article>
        <a href="{{article.urlSource}}" target="_blank">
            <img src="{{article.urlPicture}}" height="128" width="128">
        </a>
        <h2>
            <a href="{{article.urlSource}}" target="_blank">{{article.title}}</a>
        </h2>
        <p>Crée le {{article.date|date("d/m/Y")}}<p>
        <p>{{article.description}}</p>
    </article>
    {% endfor %}
</div>

{% endblock %}