{% extends 'base.html.twig' %}

{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <form @submit.prevent="addArticle" class="mb-3">
        <div class="form-group">
            <input v-model="article.title" type="text" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea v-model="article.body" type="text" class="form-control" placeholder="Body"></textarea>
        </div>
        <button type="submit" class="btn btn-light btn-block">Save</button>
    </form>
{% endif %}
<div class="row">
    <div class="col-sm-12 col-md-10">
        {% for article in articles %}
            <div id="art-{{article.id}}">
                <article class="article row">
                    <div class="col-md-3">
                        <a class="hidden-sm-down" href="{{article.urlSource}}" target="_blank">
                            <img class="art-picture" src="{{asset(article.urlPicture)}}" alt="{{article.title}}">
                        </a>
                    </div>
                    <div class="col">
                        <h2 class="art-title">
                            <a href="{{article.urlSource}}" target="_blank">{{article.title}}</a>
                        </h2>
                        <div class="art-header">
                            <div class="left">
                                <p>Crée le {{article.date|date("d/m/Y")}}</p>
                            </div>
                        </div>
                        <div class="article-description">
                            <p>{{article.description}}</p>
                        </div>  
                    </div>              
                </article>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}